<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518088760677-rp1rp8ofdmaapnts0h0k5krlhpru35vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518088760677-rp1rp8ofdmaapnts0h0k5krlhpru35vn</string>
	<key>API_KEY</key>
	<string>AIzaSyCbyxVAzpOAVppdHyoz0qMBKQL8syq1WwA</string>
	<key>GCM_SENDER_ID</key>
	<string>518088760677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotificationsApp</string>
	<key>PROJECT_ID</key>
	<string>pushnotifyagent</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotifyagent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518088760677:ios:d6dd4cbd884241e484558c</string>
</dict>
</plist>